@using DemoApp.Models
@using DemoApp.Models.Simulator
@model DemoApp.Models.ViewModels.PropertyRendererModel
@{
    var prefilled = Model.Melding.GetPrefilledValueFor(Model.GetId());
    var fixedValue = XsdUtils.GetFixedValue(Model.Prop);
    bool disable = (prefilled?.OpenToEdit == false || fixedValue != "");
    string disableStr = (disable) ? "disabled" : "";
    string disableCssClass = (disable) ? "disabled_button" : "";
    bool check = (prefilled?.Value == XsdUtils.TrueStringXsd) || (fixedValue == XsdUtils.TrueStringXsd);
    string checkedStr = (check) ? "checked" : "";
    string visibleIdAndName = @Model.GetId() + ((disable) ? "_disabled" : ""); // gi disablet input et navn som gjør at de ikke hentes ut

    if (disable)
    {
        <input type="hidden" id="@Model.GetId()" name="@Model.GetId()" value="@checkedStr" />
    }
    else
    {
        Model.CheckAddEnabler();
        string hiddenCheckName = $"{visibleIdAndName}_FALSE";
        <input type="hidden" id="@hiddenCheckName" name="@hiddenCheckName" value="false" />
    }
    <input type="checkbox" title="@Model.GetId()" id="@visibleIdAndName" name="@visibleIdAndName" onchange="checkDependentControlsActivation(this)" @checkedStr @disableStr />

    <label title="@Model.GetId()" class="checkbox_tekst @disableCssClass" for="@visibleIdAndName">@Model.GetCaption(true)</label>
    @await Html.PartialAsync($"/Pages/Partial/Beskrivelse.cshtml", @Model.GetDescription())
}