@* 
    Brukes for å rendre enum-verdi som checkbox, hvor enum-caption blir checkbox-caption istf. navn eller caption fra AppInfo
*@
@using DemoApp.Models.Fagsystem
@using DemoApp.Models.ViewModels
@model PropertyRendererModel
@{
    var prefilled = TestdataGenerator.GetPrefilledValueFor(Model.Values, Model.GetId());
    bool disable = (prefilled?.OpenToEdit == false);
    string disableCssClass = (disable) ? "disabled_button" : "";
    bool check = prefilled?.Value == true.ToString();
    string checkedStr = (check) ? "checked" : "";
    if (disable)
    {
        if (check)
        {
            <input type="checkbox" id="@Model.GetId()" disabled checked />
        }
        else
        {
            <input type="checkbox" id="@Model.GetId()" disabled />
        }
    }
    else
    {
        if (check)
        {
            <input type="checkbox" id="@Model.GetId()" checked />
        }
        else
        {
            <input type="checkbox" id="@Model.GetId()" />
        }
    }
    <label class="checkbox_tekst @disableCssClass" for="@Model.GetId()">@Model.GetCaption(true)</label>
    @await Html.PartialAsync($"/Pages/Partial/Beskrivelse.cshtml", @Model.GetDescription())
}