@using DemoApp.Pages.Partial
@using DemoApp.Models
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DBV2 Henvisning demo</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DemoApp.styles.css" asp-append-version="true" />
    <script src="~/js/site.js" asp-append-version="true"></script>
</head>
<body>
    <form method="post">
        <header>
            @{
                bool isSelected = Utils.GetRequestValue(this.Context.Request, Konstanter.SelectedSak) != "";
                string selectedBarnCss = (isSelected) ? "" : "disabled_button";
                string jsSelectedBarnFunc = (isSelected) ? "postForm" : "dummyPost";            
            }
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">DBV2 Henvisning demo</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                    @await Html.PartialAsync("/Pages/Partial/BarnSelector.cshtml", new BarnSelectorModel(this.Context.Request))
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                                <button class="nav-link text-dark" onclick="postForm('/Barneverntjeneste')">Barneverntjeneste</button>
                        </li>
                        <li class="nav-item">
                                <button class="nav-link text-dark @selectedBarnCss" onclick="@jsSelectedBarnFunc ('/Barn')">Barn</button>
                        </li>
                        <li class="nav-item">
                                <button class="nav-link text-dark @selectedBarnCss" onclick="@jsSelectedBarnFunc ('/MeldingListe')">Liste</button>
                        </li>
                            <li class="nav-item">
                                <button class="nav-link text-dark @selectedBarnCss" onclick="@jsSelectedBarnFunc ('/Melding')">Ny konversasjon</button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link text-dark" onclick="postForm('/TestSchema')">Test XSD</button>
                            </li>
                        </ul>
                </div>
                    <a class="navbar-brand" asp-area="" asp-page="/Issues">  Om/Status</a>
                </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
    </form>
</body>
</html>